body {
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    background-color: black;
    gap: 5px;
    padding: 5px;
    height: 400px;
    width: 300px;
}

.display {
    background-color: gray;
    flex: 1 1 auto;
}

.buttons {
    display: flex;
    gap: 3px;
    flex: 3 1 auto;
}

button {
    border-radius: 10%;
    border: none;
}

.left-side {
    display: flex;
    flex-direction: column;
    gap: 3px;
    flex: 3;
}

.right-side {
    display: flex;
    flex-direction: column;
    gap: 3px;
    flex: 1;
}

.right-side button {
    flex: 1 1 auto;
}

.row {
    display: flex;
    gap: 3px;
    flex: 1 1 auto;
}

.row button {
    flex: 1;
}

.operand {
    background-color: green;
}

#special button {
    background-color: aqua;
}

.operator {
    background-color: rgb(255, 140, 0);
}

.active {
    background-color: rgb(252, 193, 82);
}